numpy==1.26.4
scipy==1.14.1
matplotlib==3.9.2
pooch==1.6.0
pandas==2.2.3
osmnx==1.9.4
folium==0.17.0
geopy==2.4.1
sphinx
sphinx_rtd_theme
ffmpeg==1.4
Unidecode==1.3.8
networkx==3.3
seaborn
plotly==5.10.0 
requests==2.31.0
